Source: ros-melodic-leo-description
Section: misc
Priority: optional
Maintainer: fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-leo-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-robot-state-publisher, ros-melodic-xacro
Description: URDF Description package for Leo Rover
